$primary-color: #30978a; 
$secondary-color: #333333; 
$background-color: #f8f9fa; 
$text-color: #333; 
$white-color: #ffffff; 
$highlight-color: #00a99d; 
$divider-color: black; 
$progress-bg: #d6d6d6;
$color: #000;
$background-color: #e4e4e4;